.custom-logo-link{
  padding:.5em;
  width: 100%;
  text-align: center;
  img{
    width:100%;
  }
}
.contact-head{
    background:$brand-inverse;
    color:$gray-lighter;
    height:auto;
    line-height:1em;
    font-size:18px;
    padding:.7em 0;
    font-family:$font-title;
    border-bottom:4px solid $brand-primary-light;
    .content-header-info{
       margin-bottom: 1em;
       @include media-breakpoint-up(md) {
         margin-bottom: 0;
       }
       .box-header-info {
            width: 100%;
            display:flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-bottom: .7em;
            @include media-breakpoint-only(md) {
              flex-wrap: wrap;
              margin:0;
            }
            @include media-breakpoint-up(md) {
              margin-bottom: 0;
            }
            .box-icon{
                order:1;
                color:#FFF;
                width:60px;
                height:60px;
                border-radius: 30px;
                background: $brand-primary;
                text-align: center;
                @include media-breakpoint-only(md) {
                    width:100%;
                    background: none;
                    color:$brand-primary;
                }
                @include media-breakpoint-up(lg) {
                  background: none;
                  color:$brand-primary;
                  width:auto;
                }
                .fa{
                line-height: 1.7;
                }
            }
            .box-content{
                order:2;
                width: auto;
                display:inline-block;
                margin:0 0 0 1em;
                padding:.7em;
                span{
                  display: block;
                  font-weight: 300;
                  font-size:14px;
                }
                @include media-breakpoint-only(md) {
                    margin:0;
                    text-align:center;
                    font-size:16px;
                    padding:.5em;
                    width:100%;
                }
                @include media-breakpoint-up(md) {
                margin-left:0;
                }

            }
       }
   }
   .header-social{
     a{
       color:$brand-primary;
       font-size: 1.5em;
       &:hover{
         color:$brand-primary-light;
       }
     }

   }
}


.navbar-brand{
    text-transform: uppercase;
    font-family: $font-title;
    font-size:2em;
    font-weight: 300;
    img{
      max-width: 400px;
    }
}
.navbar-toggler{
  background-color: $brand-primary;
  width:100%;
  color:#fff;
  display:block;
}
.navbar-collapse {
    .navbar-nav{
        text-transform: uppercase;
        .menu-item{
            margin-left:1em;
            .nav-link{
                font-weight: 700;
                transition: all .2s ease-in-out;
                @include media-breakpoint-up(lg) {
                    &:after{
                        content:"";
                        display:block;
                        margin:0 auto;
                        margin-top:5px;
                        width:0%;
                        transition: all .2s ease-in-out;
                    }
                
                }
            }
            &.active .nav-link,
            .nav-link:hover{
                @include media-breakpoint-up(lg) {
                    &:after{
                        width:65%;
                        border:1px solid $brand-primary;
                    }
                }
            }
        }
    }
    
}


.post
{

    margin-bottom:3em;
    padding-bottom:3em;
    border-bottom:2px solid $gray-lighter;

       .thumbnail-post{
           width:100%;
           max-height:350px;
           margin-bottom:1.5em;
           overflow-y: hidden;
           position:relative;
           img{
             width: 100%;
           }
           a{
              background: rgba($brand-primary,.5);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1000;
              //color:#fff;
              //text-indent: 200%;
              white-space: nowrap;
              //font-size: 0;
              opacity: 0;
              transition: all .2s;
              text-align: center;
              display: flex;
              align-items: center;
              &:hover{
                opacity:1;
              }
              span{
                  margin: 0 auto;
              }
           }
       }
       .content-post-wrapper{
            display:flex;
            flex-flow: row nowrap;
            .entry-meta{
                margin-right:1em;
                order:1;
                width: 70px;
                .posted-on time,
                .entry_comment {
                    display:block;
                    color:$white;
                    background:$brand-primary;
                    text-align: center;
                    width:70px;
                    font-weight: 700;
                    font-size: $font-size-lg;
                }
                .posted-on time {

                    padding:10px 0;
                    line-height: 1;
                    span{
                        margin: 0 auto;
                        display: block;
                        text-transform: uppercase;
                        &.day{
                        padding-top:7px;
                        }
                    }
                }
                .entry_comment{
                    color:$brand-primary;
                     border:1px solid $gray-lighter;
                    background:$white;

                    height: 80px;
                    line-height: 3;
                }
            }//entry meta
            .content-post{
                order:2;
                width: calc(100%  - (70px + 1em));
                header .entry-title{
                        a{
                            color:$brand-inverse;
                            font-weight: 700;
                            &:hover{
                                text-decoration: none;
                                color:$brand-inverse;
                            }
                        }
                }
                .entry-content{
                   width: 100%;
                    color:$gray-light;
                    line-height: 1.5;
                }
            }//content-post
       }
}

.nav-links{
    .nav-previous,
    .nav-next{
        em{
            display:block;
        }
        a{
            //background: #FFF;
            display: block;
            padding:.5em;
            height:auto;
            outline:1px solid $brand-primary;
            text-decoration: none;
            transition: all .3s ease-in-out;
            &:hover{
                background: $brand-primary;
                color:#FFF;
            }
        }
    }

}

/*
*       Comentario de post
*/
.comment-list{
    padding:0;
    margin:0;
    li{
        list-style: none;
        .comment-meta{
            font-size:$font-size-sm;
        }
        .avatar{
            border-radius: 48px;
        }
        .comment-content{
            background: $brand-secondary;
            padding:.7em;
            border-radius:10px;
            position:relative;
            //width:auto;
            //display:inline-block;
            margin-top: 0;
            margin-bottom:0;
            margin-left:10px;
            box-shadow:2px 2px 3px #B0BEC5;
            &:after{
                content:"";
                display:block;
                width:0;
                top:0px;
                left:-8px;
                position:absolute;
                border-left:10px solid transparent;
                border-right:10px solid transparent;
                border-top:10px solid $brand-secondary;
                border-bottom:10px solid transparent;
            }
        }

    }
}
