// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

//fuentes typograficas
$font-family-sans-serif:        'Roboto', sans-serif;
$font-title:                    'Lato', sans-serif;
$headings-font-weight:          700;

//Colores
$white:                       #FFFFFF;//#FBFBFA;
$gray:                        #807E7C;
$gray-light:                  #BFBCBB;
$darkgray:                    #676C6A;
$brand-primary:               #3D9398;//#AA3939; ///#CF6257;//#9B9A98;76AEB6
$brand-primary-light:         #6CC8CC;
$brand-primary-dark:          #247276;



$brand-secondary:             #C71910;
$brand-inverse:               #2A302E;
$brand-complementary:         #74BCC4;


$body-bg:                     $white;

//$nav-link-padding:              1em 0px;

//navbar

$navbar-toggler-padding-x:           .2rem;
$navbar-toggler-padding-y:           .25rem;




//Links
$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      $brand-primary-light;
$link-hover-decoration: none;

$btn-border-radius:             0;
$btn-border-radius-lg:          0;
$btn-border-radius-sm:          0;
$border-radius:                 0;
$border-radius-lg:              0;
$border-radius-sm:              0;

//$btn-primary-color:              $brand-primary;
//$btn-primary-bg:                 $brand-primary !default;
//$btn-primary-border:             $btn-primary-bg !default;

$pagination-color:                     lighten($gray,15%);
$pagination-bg:                        $body-bg;

$pagination-border-width:              1px;
$pagination-border-color:              #ddd;

$pagination-hover-color:               #fff;
$pagination-hover-bg:                  $brand-primary;
$pagination-hover-border:              $brand-primary;
/*
$pagination-active-color:              $white !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;
*/

$breadcrumb-bg:                       transparent;
//$breadcrumb-padding-y:                0;
