$size_site-main: 100%;
$size_site-sidebar: 25%;

$breakpoint_tablet: 37.5em;
$breakpoint_xs:576px;
$breakpoint_sm:768px;
$breakpoint_md:25em;
$breakpoint_lg:25em;
$breakpoint_xl:25em;
$breakpoint_mobil: 30em;
